# Data Science Tools and Ecosystem

In this notebook, data science tools and ecosystem are summarized.

**Objectives:**

+ List popular languages used by Data Scientists
+ List some of the commonly used libraries in Data Science
+ Create a single column table with a header
+ Complete arithmetic operations
+ Use different level headings
+ Change the font to bold face

Some of the popular languages used by Data Scientists are:

1. Python
2. R
3. Scala
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow

|Data Science Tools|
|------|
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python:

In [5]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author:
Deborah Boxall